@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    position: relative;
    height: 100%;
}

body {
    font-family:
        Helvetica Neue,
        Helvetica,
        Arial,
        sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 800px;
    margin-top: 30px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mySwiper img {
    width: 250px;
    object-fit: cover;
    border-radius: 20px;
}

.mySwiper .hei3 {
    width: 250px;
    height: 446px;
    object-fit: cover;
}

.mySwiper .hei4 {
    width: 250px;
    height: 446px;
    object-fit: cover;
}

.mySwiper .hei {
    width: 250px;
    height: 446px;
    object-fit: cover;
}

.titlesi {
    text-align: center;
    text-transform: uppercase;
    margin-top: 100px;
}

.qorsidagi {
    font-size: 70px;
    color: black;
    font-family: "Montserrat", sans-serif;
}

.qizilidagi {
    font-size: 70px;
    font-weight: 700;
    color: #D15555;
    margin-top: -20px;
    font-family: "Montserrat", sans-serif;

}

.vrapper {
    text-align: center;
}

.qobiljiga {
    margin-top: 100px;
    margin-left: 60px;
}

.avarasm {
    width: 300px;
    border: 3px solid rgb(84, 84, 84);
    border-radius: 150px;
}

.podps {
    width: 400px;
    border-radius: 20px;
    margin-left: -350px;
    margin-top: 50px;
}

.mubosherr,.abdraxmon,.otabekmemori,.al-aziz,.qobilll {
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
    margin-top: 30px;
}

.yozuvi h4 {
    font-size: 17px;
    color: rgb(97, 97, 97);
    font-family: "Montserrat", sans-serif;
    margin-top: 10px;
}

.yozuvi p {
    font-size: 20px;
    width: 500px;
    margin-top: 30px;
    margin-left: 600px;
    color: #333;
    font-weight: 600;
    font-family: "Saira", sans-serif;

}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 70px;
}

.projects img {
    width: 200px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px;
}



@media (max-width:1246px) {
    .yozuvi p {
        margin-left: 370px;
    }
}

@media (max-width:1160px) {
    .yozuvi p {
        margin-left: 300px;
    }

    .qorsidagi,
    .qizilidagi {
        font-size: 60px;
    }
}

@media (max-width:1120px) {
    .yozuvi p {
        margin-left: 300px;
    }
}

@media (max-width:1025px) {
    .yozuvi p {
        margin-left: 250px;
    }

    .qorsidagi,
    .qizilidagi {
        font-size: 50px;
    }
}

@media (max-width:1025px) {
    .yozuvi p {
        margin-left: 250px;
    }

    .qorsidagi,
    .qizilidagi {
        font-size: 50px;
    }

    .qizilidagi {
        margin-top: 10px;
    }

    .projects {
        flex-wrap: wrap;
    }


    .projects img {
        width: 310px;
        border-radius: 20px;
        box-shadow: 1px 1px 1px 1px;
    }

    .hei {
        height: 550px;
    }

    .hei3 {
        height: 550px;
    }

    .vrapper {
        margin-left: 35px;
    }
}

@media (max-width:1025px) {
    .yozuvi p {
        margin-left: 270px;
    }

    .qorsidagi,
    .qizilidagi {
        font-size: 60px;
    }
}

@media (max-width:950px) {
    .yozuvi p {
        margin-left: 180px;
    }

    .qorsidagi,
    .qizilidagi {
        font-size: 50px;
    }

    .qizilidagi {
        margin-top: 10px;
    }

    .projects {
        flex-wrap: wrap;
    }


    .projects img {
        width: 310px;
        border-radius: 20px;
        box-shadow: 1px 1px 1px 1px;
    }

    .hei {
        height: 550px;
    }

    .hei3 {
        height: 550px;
    }

    .vrapper {
        margin-left: 35px;
    }
}

@media (max-width:870px) {
    .yozuvi p {
        margin-left: 160px;
    }

    .qorsidagi,
    .qizilidagi {
        font-size: 50px;
    }

    .qizilidagi {
        margin-top: 10px;
    }

    .projects {
        flex-wrap: wrap;
    }


    .projects img {
        width: 310px;
        border-radius: 20px;
        box-shadow: 1px 1px 1px 1px;
    }

    .hei {
        height: 550px;
    }

    .hei3 {
        height: 550px;
    }

    .vrapper {
        margin-left: 35px;
    }

    .swiper {
        width: 600px;
    }

    .mySwiper .hei2 {
        width: 200px;
    }

    .mySwiper .hei3,
    .mySwiper .hei4,
    .mySwiper .hei {
        width: 200px;
        height: 350px;
    }
}

@media (max-width:825px) {
    .yozuvi p {
        margin-left: 150px;
    }

    .qorsidagi,
    .qizilidagi {
        font-size: 50px;
    }

    .qizilidagi {
        margin-top: 10px;
    }

    .projects {
        flex-wrap: wrap;
    }


    .projects img {
        width: 310px;
        border-radius: 20px;
        box-shadow: 1px 1px 1px 1px;
    }

    .hei {
        height: 550px;
    }

    .hei3 {
        height: 550px;
    }

    .vrapper {
        margin-left: 15px;
    }
}

@media (max-width:800px) {
    .yozuvi p {
        margin-left: 110px;
    }

    .qorsidagi,
    .qizilidagi {
        font-size: 50px;
    }

    .qizilidagi {
        margin: 10px;
    }

    .projects {
        flex-wrap: wrap;
    }


    .projects img {
        width: 270px;
        border-radius: 20px;
        box-shadow: 1px 1px 1px 1px;
    }

    .hei {
        height: 490px;
    }

    .hei3 {
        height: 490px;
    }

    .vrapper {
        margin-left: 15px;
    }
}

@media (max-width:725px) {
    .yozuvi p {
        margin-left: 155px;
        width: 400px;
    }

    .qorsidagi,
    .qizilidagi {
        font-size: 50px;
    }

    .qizilidagi {
        margin-top: 10px;
    }

    .projects {
        flex-wrap: wrap;
    }


    .projects img {
        width: 280px;
        border-radius: 20px;
        box-shadow: 1px 1px 1px 1px;
    }

    .hei {
        height: 497px;
    }

    .hei3 {
        height: 497px;
    }

    .qobilll {
        font-size: 50px;
    }

    .al-aziz {
        font-size: 50px;
    }

    .mubosherr {
        font-size: 30px;
    }

    .abdraxmon {
        font-size: 50px;
    }

    .otabekmemori {
        font-size: 50px;
    }

    .vrapper {
        margin-left: 15px;
    }
}

@media (max-width:705px) {
    .yozuvi p {
        margin-left: 140px;
        width: 400px;
    }

    .qorsidagi,
    .qizilidagi {
        font-size: 36px;
    }

    .qizilidagi {
        margin-top: 10px;
    }

    .projects {
        flex-wrap: wrap;
    }


    .projects img {
        width: 280px;
        border-radius: 20px;
        box-shadow: 1px 1px 1px 1px;
    }

    .qobilll {
        font-size: 50px;
    }

    .al-aziz {
        font-size: 50px;
    }

    .mubosherr {
        font-size: 50px;
    }

    .abdraxmon {
        font-size: 50px;
    }

    .otabekmemori {
        font-size: 50px;
    }

    .vrapper {
        margin-left: 15px;
    }

    .mySwiper .hei2 {
        width: 170px;
    }

    .mySwiper .hei3,
    .mySwiper .hei4,
    .mySwiper .hei {
        width: 170px;
        height: 300px;
    }
}

@media (max-width:680px) {
    .yozuvi p {
        margin-left: 130px;
        width: 400px;
    }

    .qorsidagi,
    .qizilidagi {
        font-size: 45px;
        margin-left: -10px;
    }

    .qizilidagi {
        margin-top: 10px;
    }

    .projects {
        flex-wrap: wrap;
    }

    .projects img {
        width: 280px;
        border-radius: 20px;
        box-shadow: 1px 1px 1px 1px;
    }

    .hei {
        height: 497px;
    }

    .hei3 {
        height: 497px;
    }

    .qobilll {
        font-size: 50px;
    }

    .al-aziz {
        font-size: 50px;
    }

    .mubosherr {
        font-size: 50px;
    }

    .abdraxmon {
        font-size: 50px;
    }

    .otabekmemori {
        font-size: 50px;
    }

    .vrapper {
        margin-left: 15px;
    }
}

@media (max-width:650px) {
    .yozuvi p {
        margin-left: 100px;
        width: 400px;
    }

    .qorsidagi,
    .qizilidagi {
        font-size: 40px;
        margin-left: -30px;
    }

    .qizilidagi {
        margin-top: 10px;
    }

    .projects {
        flex-wrap: wrap;
    }

    .projects img {
        width: 250px;
        border-radius: 20px;
        box-shadow: 1px 1px 1px 1px;
    }

    .hei {
        height: 440px;
    }

    .hei3 {
        height: 440px;
    }

    .qobilll {
        font-size: 50px;
    }

    .al-aziz {
        font-size: 50px;
    }

    .mubosherr {
        font-size: 50px;
    }

    .abdraxmon {
        font-size: 50px;
    }

    .otabekmemori {
        font-size: 50px;
    }

    .vrapper {
        margin-left: 40px;
    }
}

@media (max-width:625px) {
    .yozuvi p {
        margin-left: 60px;
        width: 400px;
    }

    .qorsidagi,
    .qizilidagi {
        font-size: 40px;
        margin-left: -70px;
        width: 700px;
    }

    .qizilidagi {
        margin-top: 10px;
    }

    .projects {
        flex-wrap: wrap;
    }

    .projects img {
        width: 230px;
        border-radius: 20px;
        box-shadow: 1px 1px 1px 1px;
    }

    .hei {
        height: 410px;
    }

    .hei3 {
        height: 410px;
    }

    .qobilll {
        font-size: 50px;
    }

    .al-aziz {
        font-size: 50px;
    }

    .mubosherr {
        font-size: 50px;
    }

    .abdraxmon {
        font-size: 0px;
    }

    .otabekmemori {
        font-size: 50px;
    }

    .vrapper {
        margin-left: 100px;
    }
}

@media (max-width:615px) {
    .yozuvi p {
        margin-left: 0px;
        width: 400px;
    }

    .qorsidagi,
    .qizilidagi {
        font-size: 30px;
        margin-left: -150px;
        width: 700px;
    }

    .qizilidagi {
        margin-top: 10px;
    }

    .projects {
        flex-wrap: wrap;
    }

    .yozuvi h4 {
        font-size: 23px;
        margin-left: -120px;
    }

    .projects img {
        width: 210px;
        border-radius: 20px;
        box-shadow: 1px 1px 1px 1px;
    }
    .avarasm {
        width: 300px;
        border-radius: 400px;
        margin-left: -120px;
    }

    .qobilll {
        font-size: 50px;
        margin-left: -120px;
    }

    .al-aziz {
        font-size: 50px;
        margin-left: -120px;
    }

    .mubosherr {
        font-size: 50px;
        margin-left: -120px;
    }

    .abdraxmon {
        font-size: 10px;
        margin-left: -120px;
    }

    .otabekmemori {
        font-size: 50px;
        margin-left: -120px;
    }

    .vrapper {
        margin-left: 100px;
    }

    .swiper {
        width: 550px;
    }

    .mySwiper {
        width: 500px !important;
        margin-left: -70px !important;
    }

    .mySwiper .hei2 {
        width: 170px;
    }

    .mySwiper .hei3,
    .mySwiper .hei4,
    .mySwiper .hei {
        width: 170px;
        height: 300px;
    }
}
@media (max-width: 550px) {
    .yozuvi p {
        margin-left: -45px;
        width: 400px;
    }

    .qorsidagi,
    .qizilidagi {
        font-size: 30px;
        margin-left: -190px;
        width: 700px;
    }

    .qizilidagi {
        margin-top: 10px;
    }

    .projects {
        flex-wrap: wrap;
    }

    .yozuvi h4 {
        font-size: 23px;
        margin-left: -120px;
    }

    .projects img {
        width: 210px;
        border-radius: 20px;
        box-shadow: 1px 1px 1px 1px;
    }
    .avarasm {
        width: 300px;
        border-radius: 400px;
        margin-left: -120px;
    }

    .qobilll {
        font-size: 50px;
        margin-left: -120px;
    }

    .al-aziz {
        font-size: 50px;
        margin-left: -120px;
    }

    .mubosherr {
        font-size: 50px;
        margin-left: -120px;
    }

    .abdraxmon {
        font-size: 10px;
        margin-left: -120px;
    }

    .otabekmemori {
        font-size: 50px;
        margin-left: -120px;
    }

    .vrapper {
        margin-left: 100px;
    }

    .swiper {
        width: 550px;
    }

    .mySwiper {
        width: 500px !important;
        margin-left: -70px !important;
    }

    .mySwiper .hei2 {
        width: 170px;
    }

    .mySwiper .hei3,
    .mySwiper .hei4,
    .mySwiper .hei {
        width: 170px;
        height: 300px;
    }
}
@media (max-width: 500px) {
    .yozuvi p {
        margin-left: -60px;
        width: 400px;
    }

    .qorsidagi,
    .qizilidagi {
        font-size: 25px;
        margin-left: -220px;
        width: 700px;
    }

    .qizilidagi {
        margin-top: 10px;
    }
    
    .projects {
        flex-wrap: wrap;
    }

    .yozuvi h4 {
        font-size: 23px;
        margin-left: -120px;
    }

    .projects img {
        width: 210px;
        border-radius: 20px;
        box-shadow: 1px 1px 1px 1px;
    }
    .qobiljiga{
        margin-left: -0px;
        margin-top: 30px;
    }
    .avarasm {
        width: 270px;
        border-radius: 400px;
        margin-left: -120px;
    }
    .podps{
        width: 350px;
        border-radius: 20px;
        margin-left: -120px;
        margin-top: -80px;
    }

    .qobilll {
        font-size: 50px;
        margin-left: -120px;
    }

    .al-aziz {
        font-size: 50px;
        margin-left: -120px;
    }

    .mubosherr {
        font-size: 40px;
        margin-left: -120px;
    }

    .abdraxmon {
        font-size: 10px;
        margin-left: -120px;
    }

    .otabekmemori {
        font-size: 50px;
        margin-left: -120px;
    }

    .vrapper {
        margin-left: 100px;
    }

    .swiper {
        width: 550px;
    }

    .mySwiper {
        width: 500px !important;
        margin-left: -90px !important;
    }

    .mySwiper .hei2 {
        width: 160px;
    }

    .mySwiper .hei3,
    .mySwiper .hei4,
    .mySwiper .hei {
        width: 160px;
        height: 285px;
    }
}
@media (max-width: 450px) {
    .yozuvi p {
        margin-left: -80px;
        width: 400px;
    }

    .qorsidagi,
    .qizilidagi {
        font-size: 25px;
        margin-left: -220px;
        width: 700px;
    }

    .qizilidagi {
        margin-top: 10px;
    }
    
    .projects {
        flex-wrap: wrap;
    }

    .yozuvi h4 {
        font-size: 23px;
        margin-left: -120px;
    }

    .projects img {
        width: 210px;
        border-radius: 20px;
        box-shadow: 1px 1px 1px 1px;
    }
    .qobiljiga{
        margin-left: -0px;
        margin-top: 30px;
    }
    .avarasm {
        width: 270px;
        border-radius: 400px;
        margin-left: -120px;
    }
    .podps{
        width: 350px;
        border-radius: 20px;
        margin-left: -120px;
        margin-top: -80px;
    }

    .qobilll {
        font-size: 50px;
        margin-left: -120px;
    }

    .al-aziz {
        font-size: 30px;
        margin-left: -120px;
    }

    .mubosherr {
        font-size: 30px;
        margin-left: -120px;
    }

    .abdraxmon {
        font-size: 30px;
        margin-left: -120px;
    }

    .otabekmemori {
        font-size: 40px;
        margin-left: -120px;
    }

    .vrapper {
        margin-left: 100px;
    }

    .swiper {
        width: 550px;
    }

    .mySwiper {
        width: 450px !important;
        margin-left: -90px !important;
    }

    .mySwiper .hei2 {
        width: 150px;
    }

    .mySwiper .hei3,
    .mySwiper .hei4,
    .mySwiper .hei {
        width: 150px;
        height: 269px;
    }
}
@media (max-width: 400px) {
    .yozuvi p {
        margin-left: -60px;
        width: 300px;
        font-size: 18px;
    }

    .qorsidagi,
    .qizilidagi {
        font-size: 20px;
        margin-left: -260px;
        width: 700px;
    }

    .qizilidagi {
        margin-top: 10px;
    }
    
    .projects {
        flex-wrap: wrap;
    }

    .yozuvi h4 {
        font-size: 23px;
        margin-left: -120px;
    }

    .projects img {
        width: 210px;
        border-radius: 20px;
        box-shadow: 1px 1px 1px 1px;
    }
    .qobiljiga{
        margin-left: -0px;
        margin-top: 30px;
    }
    .avarasm {
        width: 270px;
        border-radius: 400px;
        margin-left: -120px;
    }
    .podps{
        width: 350px;
        border-radius: 20px;
        margin-left: -120px;
        margin-top: -80px;
    }

    .qobilll {
        font-size: 40px;
        margin-left: -120px;
    }

    .al-aziz {
        font-size: 30px;
        margin-left: -120px;
    }

    .mubosherr {
        font-size: 30px;
        margin-left: -110px;
    }

    .abdraxmon {
        font-size: 30px;
        margin-left: -120px;
    }

    .otabekmemori {
        font-size: 30px;
        margin-left: -120px;
    }

    .vrapper {
        margin-left: 100px;
    }

    .swiper {
        width: 550px;
    }

    .mySwiper {
        width: 450px !important;
        margin-left: -90px !important;
    }

    .mySwiper .hei2 {
        width: 150px;
    }

    .mySwiper .hei3,
    .mySwiper .hei4,
    .mySwiper .hei {
        width: 150px;
        height: 269px;
    }
}