@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


video {
    width: 1200px;
    height: 700px;
    border-radius: 20px;
    margin-left: 250px;
    border: 2px solid gray;
    background: #333;
}


.fokada {
    text-align: center;
    margin-top: 100px;
}

.qoraa {
    font-size: 60px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;

}

.qizill {
    color: #D15555;
    font-size: 60px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    margin-top: -10px;
}

.rassm {
    width: 160px;
    text-align: left;
    transform: rotate(-18deg);
    margin-top: 50px;
    margin-left: 450px;
}

.rassm h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;

}

.rassm img {
    margin-left: 135px;
    margin-top: -30px;
    width: 60px;
}

@media (max-width: 1247px) {
    video {
        width: 1000px;
        margin-left: 110px;
    }

    .rassm {
        margin-left: 250px;
    }
}

@media (max-width: 1125px) {
    video {
        width: 1000px;
        margin-left: 50px;
    }

    .rassm {
        margin-left: 250px;
    }
}

@media (max-width: 1100px) {
    video {
        width: 800px;
        margin-left: 110px;
    }

    .rassm {
        margin-left: 250px;
    }
}

@media (max-width: 1025px) {

    .qoraa,
    .qizill {
        font-size: 60px;
    }

    .rassm {
        margin-left: 170px;
    }

    .qqqq {
        margin-top: 100px;
        margin-left: 25px;
    }
}

@media (max-width: 970px) {

    .qoraa,
    .qizill {
        font-size: 55px;
    }

    video {
        width: 800px;
        margin-left: 70px;
    }

    .rassm {
        margin-left: 170px;
    }

    .qqqq {
        margin-top: 100px;
        margin-left: 25px;
    }
}

@media (max-width: 890px) {
    video {
        width: 800px;
        margin-left: 70px;
    }

    .rassm {
        margin-left: 100px;
    }

    .qoraa,
    .qizill {
        font-size: 50px;
        margin-left: 50px;
    }

    .qizill {
        margin-top: 10px;
    }
}

@media (max-width: 880px) {
    video {
        width: 800px;
        margin-left: 30px;
    }

    .rassm {
        margin-left: 100px;
    }

    .qoraa,
    .qizill {
        font-size: 50px;
        margin-left: 20px;
    }

    .qizill {
        margin-top: 10px;
    }
}

@media (max-width: 821px) {
    video {
        width: 780px;
        margin-left: 10px;
    }

    .rassm {
        margin-left: 80px;
    }

    .qoraa,
    .qizill {
        font-size: 45px;
    }

    .qizill {
        margin-top: 10px;
    }
}

@media (max-width: 800px) {
    video {
        width: 720px;
        margin-left: 30px;
    }

    .rassm {
        margin-left: 100px;
    }

    .qoraa,
    .qizill {
        font-size: 45px;
    }

    .qizill {
        margin-top: 10px;
    }

    .qqqq {
        margin-left: 15px;
    }
}

@media (max-width: 750px) {
    video {
        width: 720px;
        margin-left: 30px;
    }

    .rassm {
        margin-left: 100px;
    }

    .qoraa,
    .qizill {
        font-size: 45px;
        width: 800px;
        margin-left: -10px;
    }

    .qizill {
        margin-top: 10px;
    }

    .qqqq {
        margin-left: 15px;
    }
}


@media (max-width: 730px) {
    video {
        width: 700px;
        margin-left: 40px;
    }

    .rassm {
        margin-left: 100px;
    }

    .qoraa,
    .qizill {
        font-size: 45px;
    }

    .qizill {
        margin-top: 10px;
    }
}

@media (max-width: 725px) {
    video {
        width: 670px;
        margin-left: 30px;
    }

    .rassm {
        margin-left: 100px;
    }

    .qoraa,
    .qizill {
        font-size: 40px;
        margin-left: -30px;
    }

    .qizill {
        margin-top: 10px;
    }
}

@media (max-width: 691px) {
    video {
        width: 600px;
        margin-left: 40px;
    }

    .rassm {
        margin-left: 100px;
    }

    .qoraa,
    .qizill {
        font-size: 37px;
        margin-left: -60px;
    }

    .qizill {
        margin-top: 10px;
    }
}

@media (max-width: 646px) {
    video {
        width: 600px;
        margin-left: 40px;
    }

    .rassm {
        margin-left: 100px;
    }

    .qoraa,
    .qizill {
        font-size: 40px;
    }

    .qizill {
        margin-top: 10px;
    }

    .qqqq {
        margin-left: 20px;
    }
}

@media (max-width: 625px) {
    video {
        width: 450px;
        margin-left: 56px;
    }

    .rassm {
        margin-left: 70px;
    }

    .qoraa,
    .qizill {
        font-size: 30px;
        width: 700px;
        margin-left: -70px;
    }

    .qizill {
        margin-top: 10px;
    }

    .qqqq {
        margin-left: 20px;
    }
}

@media (max-width: 550px) {
    video {
        width: 450px;
        margin-left: 25px;
    }

    .rassm {
        margin-left: 50px;
    }

    .qoraa,
    .qizill {
        font-size: 30px;
        width: 700px;
        margin-left: -100px;
    }

    .qizill {
        margin-top: 10px;
    }

    .qqqq {
        margin-left: 20px;
    }
}
@media (max-width: 500px) {
    video {
        width: 400px;
        height: 450px;
        margin-left: 15px;
    }

    .rassm {
        margin-left: 50px;
        margin-top: 20px;
    }

    .rassm h3 {
        font-size: 15px;
        margin-left: -20px;
    }

    .rassm img {
        width: 40px;
        margin-left: 100px;
        margin-top: -20px;
    }

    .qoraa,
    .qizill {
        font-size: 25px;
        width: 700px;
        margin-left: -140px;
    }

    .qizill {
        margin-top: 10px;
    }

    .qqqq {
        margin-left: 20px;
    }
}

@media (max-width: 450px) {
    video {
        width: 350px;
        height: 400px;
        margin-left: 25px;
    }

    .rassm {
        margin-left: 50px;
        margin-top: 10px;
    }

    .rassm h3 {
        font-size: 15px;
        margin-left: -20px;
    }

    .rassm img {
        width: 40px;
        margin-left: 100px;
        margin-top: -20px;
    }

    .qoraa,
    .qizill {
        font-size: 25px;
        width: 700px;
        margin-left: -150px;
    }

    .qizill {
        margin-top: 10px;
    }

    .qqqq {
        margin-left: 20px;
    }
}
@media (max-width: 430px) {
    video {
        width: 350px;
        height: 400px;
        margin-left: 20px;
    }

    .rassm {
        margin-left: 50px;
        margin-top: 10px;
    }

    .rassm h3 {
        font-size: 15px;
        margin-left: -20px;
    }

    .rassm img {
        width: 40px;
        margin-left: 100px;
        margin-top: -20px;
    }

    .qoraa,
    .qizill {
        font-size: 25px;
        width: 700px;
        margin-left: -160px;
    }

    .qizill {
        margin-top: 10px;
    }

    .qqqq {
        margin-left: 20px;
    }
}
@media (max-width: 400px) {
    video {
        width: 350px;
        height: 400px;
        margin-left: 0px;
    }

    .rassm {
        margin-left: 50px;
        margin-top: 10px;
    }

    .rassm h3 {
        font-size: 12px;
        margin-left: -20px;
    }

    .rassm img {
        width: 40px;
        margin-left: 80px;
        margin-top: -20px;
    }

    .qoraa,
    .qizill {
        font-size: 20px;
        width: 700px;
        margin-left: -180px;
        margin-top: -50px;
    }

    .qizill {
        margin-top: 10px;
    }

    .qqqq {
        margin-left: 20px;
    }
}
@media (max-width: 380px) {
    video {
        width: 330px;
        height: 400px;
        margin-left: 0px;
    }

    .rassm {
        margin-left: 50px;
        margin-top: 10px;
    }

    .rassm h3 {
        font-size: 12px;
        margin-left: -20px;
    }

    .rassm img {
        width: 40px;
        margin-left: 80px;
        margin-top: -20px;
    }

    .qoraa,
    .qizill {
        font-size: 20px;
        width: 700px;
        margin-left: -180px;
        margin-top: -50px;
    }

    .qizill {
        margin-top: 10px;
    }

    .qqqq {
        margin-left: 20px;
    }
}
